<nav #navbar class="navbar" [ngClass]="isNavbarShow ? 'active' : 'inactive'">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" onClick="return false;" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-collapse" aria-expanded="false"></a>
            <!-- mobile menu bars -->
            <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
            <a class="navbar-brand" routerLink="dashboard/main">
                <!-- <img src="assets/images/logo1.png" alt="" width="30" height="30"/>
                <span class="logo-name">Lorax</span> -->
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <ul class="pull-left collapse-menu-icon">
                        <li>
                            <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse">
                                <mat-icon>menu</mat-icon>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4">
                    <a routerLink="/dashboard/main"><img src="assets/images/dropy online.png" width="200" class="" height="50"></a>
                    
                </div>
                <div class="col-12 col-sm-4">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="mr-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Language</mat-label>
                                <mat-select>
                                    <mat-option value="option1">English</mat-option>
                                    <mat-option value="option2">Turkish</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Country</mat-label>
                                <mat-select>
                                    <mat-option value="option1">U A E</mat-option>
                                    <mat-option value="option2">Singapore</mat-option>
                                    <mat-option value="option2">+</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>
                        <!-- Full Screen Button -->
                        <li class="fullscreen">
                            <button mat-icon-button (click)="callFullscreen()" class=" nav-notification-icons">
                                <mat-icon>fullscreen</mat-icon>
                            </button>
                        </li>
                        <!-- #END# Full Screen Button -->
                        <li class="dropdown user_profile">
                            <a href="#" onClick="return false;" data-toggle="dropdown" role="button" class="pt-0">
                                <img src="assets/images/user.jpg" class="rounded-circle" width="32" height="32" alt="User">
                            </a>
                            <ul class="dropdown-menu pullDown">
                                <li class="body">
                                    <ul class="user_dw_menu">
                                        <li>
                                            <a routerLink="/account/profile" onClick="return false;">
                                                <mat-icon aria-hidden="false" class="mr-2">person</mat-icon>Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/help/main" onClick="return false;">
                                                <mat-icon aria-hidden="false" class="mr-2">help</mat-icon>Help
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/authentication/signin" onClick="return false;">
                                                <mat-icon aria-hidden="false" class="mr-2">power_settings_new</mat-icon>Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- #END# Tasks -->
                        <li class="pull-right">
                            <button mat-icon-button (click)="toggleRightSidebar()" class="nav-notification-icons">
                                <mat-icon id="settingBtn">settings</mat-icon>
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
            
            <!-- <ul class="nav navbar-nav">
                <li>
                    dkdk
                </li>
            </ul> -->
            
        </div>
    </div>
</nav>