<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Blank</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Account</a>
            </li>
            <li class="breadcrumb-item active">Notification</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>Notification</strong> Page</h2>
          </div>
          <div class="body">
            <h3>
              <b>Add your phone number and start receiving notofications.</b>
            </h3>
            <br><br>
            <p>
              Phone number : +95468565786&nbsp;&nbsp;&nbsp;
              <a routerLink="">Change</a>&nbsp;&nbsp;&nbsp;
              <a routerLink="">Remove</a>
            </p>
            <hr>
            <br><br>
            <div class="row">
              <div class="col-12 col-lg-1 text-right">
                <mat-slide-toggle class="example-margin"></mat-slide-toggle>
              </div>
              <div class="col-12 col-lg-11">
                <h5 class="mt-1">
                  <b>Enable free text message notifications</b>
                </h5>
                <p title="text-muted">
                  By enabling text message notifications, you can receive important alerts about your account to your mobile phone for free.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-11 offset-lg-1">
                <div class="row">
                  <div class="col-1 text-right">
                    <mat-slide-toggle class="example-margin"></mat-slide-toggle>
                  </div>
                  <div class="col-11">
                    <h5 class="mt-1">
                      <b>Notify when SellerRunning cannot reach your Amazon Seller account</b>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-11 offset-lg-1">
                <div class="row">
                  <div class="col-1 text-right">
                    <mat-slide-toggle class="example-margin"></mat-slide-toggle>
                  </div>
                  <div class="col-11">
                    <h5 class="mt-1">
                      <b>Notify when updates stop after an unsuccessful subscription payment</b>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-11 offset-lg-1">
                <div class="row">
                  <div class="col-1 text-right">
                    <mat-slide-toggle class="example-margin"></mat-slide-toggle>
                  </div>
                  <div class="col-11">
                    <h5 class="mt-1">
                      <b>Notify when the order is returning to the seller</b>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-11 offset-lg-1">
                <div class="row">
                  <div class="col-1 text-right">
                    <mat-slide-toggle class="example-margin"></mat-slide-toggle>
                  </div>
                  <div class="col-11">
                    <h5 class="mt-1">
                      <b>Notify when package may be lost</b>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-11 offset-lg-1">
                <div class="row">
                  <div class="col-1 text-right">
                    <mat-slide-toggle class="example-margin"></mat-slide-toggle>
                  </div>
                  <div class="col-11">
                    <h5 class="mt-1">
                      <b>Notify when customer leaves negative feedback</b>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-11 offset-lg-1">
                <div class="row">
                  <div class="col-1 text-right">
                    <mat-slide-toggle class="example-margin"></mat-slide-toggle>
                  </div>
                  <div class="col-11">
                    <h5 class="mt-1">
                      <b>Notify when customer leaves neutral feedback</b>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-11 offset-lg-1">
                <div class="row">
                  <div class="col-1 text-right">
                    <mat-slide-toggle class="example-margin"></mat-slide-toggle>
                  </div>
                  <div class="col-11">
                    <h5 class="mt-1">
                      <b>Notify when the product in Amazon.com is running out of stock</b>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-11 offset-lg-1">
                <div class="row">
                  <div class="col-1 text-right">
                    <mat-slide-toggle class="example-margin"></mat-slide-toggle>
                  </div>
                  <div class="col-11">
                    <h5 class="mt-1">
                      <b>Notify when automatic bill payment failed</b>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="text-center col-12 example-button-row">
                <button mat-flat-button color="primary">Save Changes</button>
              </div>
              
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
