<section class="content">
  <div class="container-fluid">

      <!-- breadcrumb -->
      <div class="block-header">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                      <h4 class="page-title">Store Inventory</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                      <a routerLink="/dashboard/main">
                        <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active">Product Details</li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- end breadcrumb -->

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="header">
              <h2><strong>Product Details</strong></h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                  <div class="body">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="white-box">
                                  <h3>
                                      <b>Detail Information</b>
                                      <span class="pull-right">#345766</span>
                                  </h3>
                                  <hr>
                                  <div class="row">

                                    <div class="col-md-12">
                                      <div class="row">
                                        <div class="col-xs-12 col-lg-4">
                                          <img src="assets/images/user/user1.jpg" class="img-fluid" style="width: 100%;">
                                        </div>
                                        <div class="col-xs-12 col-lg-8">
                                          <br>
                                          <h3><b>
                                            Liquid Metal by Sergio Gutiereez Bracelet B46-N SG SG Pouch Included.CHrome Plated
                                          </b></h3>
                                          <br>
                                          <div>
                                            <b>AED830.65</b>
                                          </div>
                                          <br>
                                          <div>
                                            <p>
                                              <b>ASIN:</b> B01AJANSDQ
                                            </p>
                                            <p>
                                              <b>AMZR-AE12-61586586</b>
                                            </p>
                                          </div>
                                          <br>
                                          <div>
                                            <a routerLink=""><i class="fas fa-external-link-alt">&nbsp;</i>View on Amazon.com</a>
                                            <br><br>
                                            <a routerLink="">
                                              <i class="fas fa-external-link-alt">&nbsp;</i>
                                              View on Amazon.ae
                                            </a>
                                            <br><br>
                                            <a routerLink="">
                                              <i class="fas fa-external-link-alt">&nbsp;</i>
                                              View offers on Amazon.ae
                                            </a>
                                            <br><br>
                                            <a routerLink="">
                                              <i class="fas fa-external-link-alt">&nbsp;</i>
                                              View orders
                                            </a>
                                            <br><br>
                                            <a routerLink="">
                                              <i class="fas fa-external-link-alt">&nbsp;</i>
                                              View on Seller Central
                                            </a>
                                            <br><br>
                                            <a routerLink="">
                                              <i class="fas fa-external-link-alt">&nbsp;</i>
                                              View update history
                                            </a>
                                            <br>
                                          </div>

                                        </div>

                                      </div>
                                    </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
            </div>
            
          </div>
          
          
        </div>
        
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="body">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="row">
                    <div class="col-6  text-right">
                      <p class="font-bold">Purchase Price</p>
                    </div>
                    <div class="col-6 ">
                      <p class="text-muted">117.00</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6  text-right">
                      <p class="font-bold">Shipping cost</p>
                    </div>
                    <div class="col-6 ">
                      <p class="text-muted">57.00</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6  text-right">
                      <p class="font-bold">Stock quantity</p>
                    </div>
                    <div class="col-6 ">
                      <p class="text-muted">30</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6  text-right">
                      <p class="font-bold">Amazon.com seller</p>
                    </div>
                    <div class="col-6 ">
                      <p class="text-muted">Global jewellery</p>
                    </div>
                  </div>

                </div>
                <div class="col-12 col-lg-6">
                  <div class="row">
                    <div class="col-6  text-right">
                      <p class="font-bold">BuyBox Price</p>
                    </div>
                    <div class="col-6 ">
                      <p class="text-muted">117.00</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6  text-right">
                      <p class="font-bold">Lowest price</p>
                    </div>
                    <div class="col-6 ">
                      <p class="text-muted">57.00</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6  text-right">
                      <p class="font-bold">Can be sent to customer address</p>
                    </div>
                    <div class="col-6 ">
                      <p class="text-muted">Yes</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6  text-right">
                      <p class="font-bold">PrimeExclusive product</p>
                    </div>
                    <div class="col-6 ">
                      <p class="text-muted">No</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <button mat-flat-button color="warn">Remove from store</button>
              </div>
            </div>

          </div>
        </div>

      </div>
      

      
  </div>
</section>