<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Blank</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Account</a>
            </li>
            <li class="breadcrumb-item active">Filter</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>Filter</strong> Page</h2>
          </div>
          <div class="body">

            <div class="row">
              <div class="col-9">
                <h5>
                  <b>Select only FBA/Amazon products</b>&nbsp;
                  <span class="label label-primary">recommended</span>
                </h5>
                <p class="text-muted">
                  It only selects products shipped from Amazon's warehouse.
                </p>
              </div>
              <div class="col-1">
                <mat-slide-toggle class="example-margin" style="margin-top: 1.5rem;">Slide me!</mat-slide-toggle>
              </div>
              <div class="col-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Remove</mat-label>
                  <mat-select>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-9">
                <h5>
                  <b>Filter trademark-protected products</b>&nbsp;
                  <span class="label label-primary">recommended</span>
                </h5>
                <p class="text-muted">
                  The list of trademarks in the SellerRunning database is checked
                </p>
              </div>
              <div class="col-1">
                <mat-slide-toggle class="example-margin" style="margin-top: 1.5rem;">Slide me!</mat-slide-toggle>
              </div>
              <div class="col-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Remove</mat-label>
                  <mat-select>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-9">
                <h5>
                  <b>Filter products that can not be sent to the address</b>&nbsp;
                  <span class="label label-primary">recommended</span>
                </h5>
                <p class="text-muted">
                  The list of trademarks in the SellerRunning database is checked
                </p>
              </div>
              <div class="col-1">
                <mat-slide-toggle class="example-margin" style="margin-top: 1.5rem;">Slide me!</mat-slide-toggle>
              </div>
              <div class="col-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Remove</mat-label>
                  <mat-select>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-9">
                <h5>
                  <b>Filter missing-shipping into products</b>&nbsp;
                  <span class="label label-primary">recommended</span>
                </h5>
                <p class="text-muted">
                  Filters products with unclear shipping fees
                </p>
              </div>
              <div class="col-1">
                <mat-slide-toggle class="example-margin" style="margin-top: 1.5rem;">Slide me!</mat-slide-toggle>
              </div>
              <div class="col-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Remove</mat-label>
                  <mat-select>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-9">
                <h5>
                  <b>Filter by min number of sellers in the sales store</b>&nbsp;
                  <span class="label label-primary">recommended</span>
                </h5>
                <p class="text-muted">
                  Filters products that have a certain number of sellers.
                </p>
              </div>
              <div class="col-1">
                <mat-slide-toggle class="example-margin" style="margin-top: 1.5rem;">Slide me!</mat-slide-toggle>
              </div>
              <div class="col-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Remove</mat-label>
                  <mat-select>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="text-center col-12 example-button-row">
                <button mat-flat-button color="primary">Save Changes</button>
              </div>
              
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
